@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}
li {
  float: left;
}
.lit {
  float: right;
}

.navb {
  font-size: 18px;
  letter-spacing: 4px;
}
li a {
  display: block;
  color: #FFFDD0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: yellow;
  color: black;
}

body{
  background-color: #9CC3D5FF;
}

.an {
  color: #0063B2FF;
  font-size: 75px;
  animation-name: shift;
  animation-duration: 2s;
  position: fixed;
  top: 20%;
  right: 55%;
  animation-timing-function: ease-in-out;
}

.an2 {
  color: #0063B2FF;
  font-size: 75px;
  animation-name: shift2;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  position: fixed;
  top: 30%;
  left: 45%;
}
.an3 {
  font-size: 75px;
  animation-name: shift3;
  animation-duration: 2s;
  color: #0063B2FF;
  position: fixed;
  top: 40%;
  left: 38%;
  animation-timing-function: ease-in-out;
}
.an4 {
  font-size: 75px;
  animation-name: shift4;
  animation-duration: 2s;
  color: #0063B2FF;
  position: fixed;
  top: 50%;
  left: 45%;
  animation-timing-function: ease-in-out;
}

@keyframes shift {
  from {
    right: 0%;
  }
  to {
    right: 55%;
  }
}
@keyframes shift2 {
  from {
    left: 0%;
  }
  to {
    left: 45%;
  }
}
@keyframes shift3 {
  from {
    left: 100%;
  }
  to {
    left: 38%;
  }
}
@keyframes shift4 {
  from {
    left: 0%;
  }
  to {
    left: 45%;
  }
}

