@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.one {
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.two{
    width: 100vw;
    height: 100vh;
    background-color: salmon;
}

.cont {
    text-align: center;
    align-items: center;
    position: relative;
    display: flex;
    top: 50%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%,-30%);
}
.cont1 {
    text-align: center;
    align-items: center;
    position: relative;
    display: flex;
    top:25%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
}

.cont span {
    text-transform: uppercase;
}

.d{
    color:dodgerblue;
}